<article style="display: flex; flex-direction: column; align-items: center; justify-content: center; font-family: monospace; padding: 16px;">
  <div style="background-color: #7d40e7; width: 100%; display: flex; padding: 16px; align-items: center; margin-bottom: 25px; justify-content: center; color: #fff;">
    <strong>FAST FEET</strong>
  </div>
  <strong>Olá, {{ deliveryMan }}</strong>
  <p>Uma de suas encomendas foi cancelada devido a uns problemas com a entrega, confira abaixo:</p>
  <p>
    <strong>Nome do estinatário: </strong> {{ recipientName }} <br />
    <strong>Endereço: </strong> {{ recipientAddress }} <br />
    <strong>CEP: </strong> {{ recipientZip }} <br />
    <strong>Complemento: </strong> {{ recipientComplement }} <br />
    <strong>Produto: </strong> {{ product }} <br />
    <br />
    <small>
      Caso ainda esteja com o produto em mãos devolva para nossa central onde o produto foi retirado!
    </small>
  </p>
</article>
