<strong>Olá, {{ deliveryMan }}</strong>
<p>Você tem uma nova encomenda para entregar, confira abaixo:</p>
<p>
  <strong>Nome do estinatário: </strong> {{ recipientName }} <br />
  <strong>Endereço: </strong> {{ recipientAddress }} <br />
  <strong>CEP: </strong> {{ recipientZip }} <br />
  <strong>Complemento: </strong> {{ recipientComplement }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    O produto já está disponível para retirada!
  </small>
</p>
